.base {
  font-family: --font-family-courier-new-monospace;
  font-weight: 700;
  border: 0;
  border-radius: 0.6rem;
  cursor: pointer;
  display: inline-block;
  padding: 1rem 2rem;
  transition: all 0.5s;
  &:focus {
    transition: all 0.5s;
  }
  &:hover {
    transition: all 0.5s;
  }
}
.primary {
  color: var(--primary-color);
  background-color: var(--primary);
  &:focus {
    background-color: var(--primary-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--primary-shadow-light);
  }
  &:focus-within {
    background-color: var(--primary-dark);
  }
  &:visited {
    background-color: var(--primary-shadow);
  }
  &:hover {
    background-color: var(--primary-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--primary-shadow);
  }
}
.secondary {
  color: var(--secondary-color);
  background-color: var(--secondary);
  &:focus {
    background-color: var(--secondary-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--secondary-shadow-light);
  }
  &:focus-within {
    background-color: var(--secondary-dark);
  }
  &:visited {
    background-color: var(--secondary-shadow);
  }
  &:hover {
    background-color: var(--secondary-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--secondary-shadow);
  }
}
.success {
  color: var(--success-color);
  background-color: var(--success);
  &:focus {
    background-color: var(--success-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--success-shadow-light);
  }
  &:focus-within {
    background-color: var(--success-dark);
  }
  &:visited {
    background-color: var(--success-shadow);
  }
  &:hover {
    background-color: var(--success-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--success-shadow);
  }
}
.danger {
  color: var(--danger-color);
  background-color: var(--danger);
  &:focus {
    background-color: var(--danger-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--danger-shadow-light);
  }
  &:focus-within {
    background-color: var(--danger-dark);
  }
  &:visited {
    background-color: var(--danger-shadow);
  }
  &:hover {
    background-color: var(--danger-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--danger-shadow);
  }
}
.warning {
  color: var(--black);
  background-color: var(--warning);
  &:focus {
    background-color: var(--warning-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--warning-shadow-light);
  }
  &:focus-within {
    background-color: var(--warning-dark);
  }
  &:visited {
    background-color: var(--warning-shadow);
  }
  &:hover {
    background-color: var(--warning-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--warning-shadow);
  }
}
.info {
  color: var(--black);
  background-color: var(--info);
  &:focus {
    background-color: var(--info-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--info-shadow-light);
  }
  &:focus-within {
    background-color: var(--info-dark);
  }
  &:visited {
    background-color: var(--info-shadow);
  }
  &:hover {
    background-color: var(--info-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--info-shadow);
  }
}
.light {
  color: var(--black);
  background-color: var(--light);
  &:focus {
    background-color: var(--light-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--light-shadow-light);
  }
  &:focus-within {
    background-color: var(--light-dark);
  }
  &:visited {
    background-color: var(--light-shadow);
  }
  &:hover {
    background-color: var(--light-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--light-shadow);
  }
}
.dark {
  color: var(--white);
  background-color: var(--black);
  &:focus {
    background-color: var(--dark-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--dark-shadow-light);
  }
  &:focus-within {
    background-color: var(--dark-dark);
  }
  &:visited {
    background-color: var(--dark-shadow);
  }
  &:hover {
    background-color: var(--dark-dark);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--dark-shadow);
  }
}
.link {
  font-weight: 400;
  color: var(--link-color);
  text-decoration: underline;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:focus {
    box-shadow: 0 0 0 0.25rem var(--link-shadow);
  }
  &:hover {
    color: var(--link-color-hover);
  }
}
.storybook-button--small {
  padding: 0.5rem 1.5rem;
  font-size: 0.8rem;
  &:focus {
    padding: 0.5rem 1.5rem;
  }
  &:hover {
    padding: 0.5rem 1.5rem;
  }
}
.storybook-button--medium {
  padding: 0.8rem 1.8rem;
  font-size: 0.9rem;
  &:focus {
    padding: 0.8rem 1.8rem;
  }
  &:hover {
    padding: 0.8rem 1.8rem;
  }
}
.storybook-button--large {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  &:focus {
    padding: 1rem 2rem;
  }
  &:hover {
    padding: 1rem 2rem;
  }
}

.wrap {
  max-width: 14rem;
}

.no-wrap {
  max-width: auto;
}
