.header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
  padding: 0;
  margin: 0;
}

.logo {
  width: auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 33.3%;
  background-color: aqua;
  
}

.login {
  width: auto;
  background-color: azure;
  display: flex;
  flex-flow: row;
  justify-content:left;
  align-items: center;
}

@media screen and (max-width: 350px) {
  .menu {
    display: none;
  }
  .header {
    justify-content: space-between;
  }
  .login {
    width: auto;
  }
  .logo {
    width: auto;
  }
}