.link {
  font-family: var(--font-family-arial-sans-serif);
  color: var(--link-color);
  text-decoration: underline;
  background-color: transparent;
  border-radius: 3rem;
  cursor: pointer;
  user-select: none;
  padding: 0.625rem 1.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.5rem;
  /*border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;*/
  &:focus {
    background-color: var(--white);
    box-shadow: 0rem 0rem 0rem 0.25rem var(--primary-shadow-light);
  }
  &:hover {
    color: var(--link-color-hover);
  }
  &:active {
    box-shadow: 0rem 0rem 0rem 0.25rem var(--primary-shadow-light);
  }
  &:focus-within {
    box-shadow: 0rem 0rem 0rem 0.25rem var(--primary-shadow-light);
  }
  &:focus-visible {
    box-shadow: 0rem 0rem 0rem 0.25rem var(--primary-shadow-light);
  }
}